# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Next.js
.next/
out/
build/

# Tailwind CSS
tailwind.config.js
tailwind.config.ts

# TypeScript
*.tsbuildinfo

# Logs
logs/
*.log

# Dependency directories
venv/
__pycache__/
*.py[cod]
*.so

# Python virtual environment
flask-server/venv/
flask-server/__pycache__/
flask-server/*.py[cod]
flask-server/*.so

# Miscellaneous
.DS_Store
*.swp
*.swo
*.swn
*.bak
*.tmp
*.temp
*.old
*.orig
*.rej
*.sublime-project
*.sublime-workspace
.idea/
.vscode/